@import "tailwindcss";

.rubik {
  font-family: 'Rubik', sans-serif;
}

@media (min-width: 1024px) {
  .clip-diagonal {
    @apply overflow-hidden;
    clip-path: polygon(0 0, 100% 0%, 115% 85%, 0 100%);
  }
}


.prism-code-editor {
  /* Values are: Hue, saturation, lightness */
  max-height: 500px;
  overflow-y: auto;
}
